<?xml version="1.0"?>

<robot name="titanv_box">

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="titanv_box/base_link">
    <visual>
      <geometry>
        <box size="0.3302 0.095 0.1778"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

</robot>